a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:active{
    color: white;
    text-decoration: none;
}
#nav{
    background-color: #111111;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid #222222;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav_link{
    margin: 1px 10px;
    padding: 14px 20px;
}
.nav_link:hover{
    background-color: #222222;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    transition: background 0.5s ease-out;
}
#img_circle{
    margin-right: 10px;
    border-radius: 5%;
}
body{
    background-color: #111111;
}
body::-webkit-scrollbar{
    width: 10px;
    margin-left: 0;
    background-color: black;
}
body::-webkit-scrollbar-thumb{
    background-color: #2F3542;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
body::-webkit-scrollbar-track{
    background-color: #111111;
}
.main{
    background-color: #0F1519;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 80px;
}
footer{
    background-color: #111111;
    border-top: 0.5px solid #222222;
    text-align: center;
    font-size: 1em;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer_icon{
    display: block;
    padding: 20px;
}
.highlight_blue{
    background: linear-gradient(to top, #4848D6 0%, transparent 40%);
}
.highlight_red{
    background: linear-gradient(to top, #FE5230 0%, transparent 40%);
}
#event_layout_full{
    width: 100%;
    height: 650px;
    text-align: center;
}
#event_layout_left{
    width: 50%;
    height: 650px;
    float: left;
}
#event_layout_right{
    width: 50%;
    height: 650px;
    float: right;
}
#container{
    display: flex;
    justify-content: left;
    padding-left: 15%;
    margin-bottom: 50px;
}
#container_app{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.selection_button{
    width: 6em;
    height: 4em;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;;
    border: 2px solid #222222;
}
.selection_button:hover{
    background: #2F3542;
    transition: background 0.5s ease-out;
}
table{
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    width: 70%;
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;
    border-collapse: collapse;
    margin-bottom: 50px;
}
td:first-child{
    text-align: left;
}
td:nth-child(2){
    text-align: center;
    color: #4848D6;
    font-size: 1.5em;
}
td:nth-child(3){
    text-align: center;
    font-size: 1.2em;
}
td:last-child{
    text-align: center;
    color: #FE5230;
    font-size: 1.5em;
}